<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Dashboard to add new video</p>
  <a class="btn btn-dark btn-lg" href="/add/Ideas" role="button">Add new Idea</a>
  </p>
</div>